<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:fragment="head(title)">
        <title th:text="*{title}"></title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>
    <body>
        <div class="navigator" th:fragment="menu">
            <div class="container1">
                <a th:href="@{/public/posts}">
                    <img class="logo" th:src="@{/images/logo.jpg}"/>
                </a>
            </div>
            <div class="container2">
                <a class="active" th:href="@{/public/posts}" th:text="#{blog.list}"></a>
                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/private/posts/post}" th:text="#{blog.create}"></a>
            </div>
            <div class="container3">
                <a th:href="@{?lang=lt}">LT</a>
                <a th:href="@{?lang=en}">EN</a>
                <a sec:authorize="isAnonymous()" th:href="@{/login}" th:text="#{login.submit}"></a>
                <a sec:authorize="isAnonymous()" th:href="@{/public/register}" th:text="#{login.register}"></a>
                <a sec:authorize="isAuthenticated()" th:action="${param.logout}" th:href="@{/public/posts}" th:text="#{login.logout}"></a>
                <span sec:authorize="isAuthenticated()" th:text="#{login.hello} + ${#authentication.name}"></span>
            </div>
        </div>
    </body>
</html>