* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("https://mcdn.wallpapersafari.com/medium/88/99/IgZeb0.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: cursive;
}

p {
    width: 100%;
}

p.user {
    font-weight: bold;
}

p.text {
    height: 140px;
    overflow-y: hidden;
    text-align: justify;
    color: maroon;
}

p.listed-text {
    overflow-y: hidden;
    text-align: justify;
    color: maroon;
}

h1 {
    font-size: 1.5em;
    margin: 0;
    color: midnightblue;
}

h1.title {
    text-align: center;
    margin-bottom: 26px;
    color: rgb(78, 78, 199);
    font-size: 25px;
}

.navigator {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 0 40px 0;
}

a, label {
    text-decoration: none;
    color: rgb(78, 78, 199);
}

.container{
    width: 1040px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.container2 a {
    margin: 0 20px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.4s ease;
    font-weight: 600;
    border-radius: 20px;
    padding: 10px;
}

.container3 a {
    font-size: 20px;
    cursor: pointer;
    transition: 0.4s ease;
    font-weight: 600;
    border-radius: 20px;
    padding: 10px;
}

.container3 form {
    display: inline;
    margin: 0px;
    padding: 0px;
}

.container3 form input{
    background: transparent;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.4s ease;
    color: rgb(78, 78, 199);
    border-color: transparent;
    font-weight: 600;
}

.container2 a:hover, .container3 a:hover, .container3 form input:hover {
    background: rgb(78, 78, 199);
    color: white;
}

.logo {
    max-height: 70px;
}

img.avatar {
    height: 50px;
    width: 50px;
    padding-top: 10px;
}

img.font {
    float: left;
    height: 100%;
    width: 200px;
    margin-right: 15px;
}

.picture {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
}

.username {
    margin-left: 5px;
    padding: 9px
}

span {
    font-size: 10px;
    font-weight: normal;
}

span.head {
    font-size: 15px;
}

div.text {
    margin-right: 2em;
    margin-top: 1em;
    display: flex;
}

div.button {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-right: 20px;
    margin-top: 1em;
    text-align: center;
}

.submit, button, div.button div {
    padding: 5px 20px;
    background: transparent;
    color: rgb(78, 78, 199);
    border: 1.5px solid rgb(78, 78, 199);
    border-radius: 15px;
    cursor: pointer;
    transition: 0.4s ease;
    font-weight: 600;
    margin-left: 10px;
}

.submit:hover, button.submit:hover, div.button div:hover {
    background: rgb(78, 78, 199);
    color: white;
}

div.middle-hide, div.middle-unhide {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.middle-hide p, div.middle-unhide p {
    border: 0.5px solid rgb(78, 78, 199);
    width: 150px;
    color: rgb(78, 78, 199);
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    transition: 0.4s ease;
}

div.middle-hide p:hover, div.middle-unhide p:hover, div.button div:hover {
    background: rgb(78, 78, 199);
    color: white;
}

div.post {
    display: flex;
    flex-direction: row;
}

div.post a {
    cursor: none;
}

div.all {
    border-bottom: 0.1px solid rgb(58, 47, 47, 0.5);
}

div.comment {
    margin-left: 6em;
    display: flex;
}

div.comment .text {
    flex-direction: column;
}

div.comment .text h1 {
    margin-top: -8px;
}

div.selectAllComments {
    display: none;
}

div.pageable {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}

div.pageable a {
    padding: 0 10px;
    font-size: 15px;
    cursor: pointer;
}

div.pageable a:hover {
    font-size: 20px;
}

div.body-form {
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 50vh;
}

form {
    padding: 20px;
    margin: 0 16px;
    display: block;
    width: 40%;
}

form .form-inline {
    display: grid;
    grid-gap: 15px;
}

form .form{
    position: relative;
    width: 100%;
    margin-bottom: 15px;
}

form .form textarea {
    resize: vertical;
    height: 300px;
}

form .form input, form .form textarea{
    padding: 8px;
    width: 100%;
    border-radius: 10px;
    border: 1.5px solid rgb(78, 78, 199);
    outline: none;
}

#try2 {
    display: none;
}