<html xmlns:th="https://www.thymeleaf.org">
    <head th:replace="fragments/fragments :: head('Blog | Create comment')"></head>
    <body>
    <header th:replace="fragments/fragments :: menu"></header>

        <div class="body-form">
            <form th:action="@{/private/posts/{postId}/createComment(postId=${postId})}" th:object="${comment}" method="post">
                <h1 class="title" th:text="#{comment.create}"></h1>
                <div class="form-inline">
                    <div class="form">
                        <label class="title" for="commentTitle" th:text="#{create.title}"></label>
                        <input type="text" th:field="*{title}" id="commentTitle">
                            <ul>
                                <li th:if="${#fields.hasErrors('title')}" th:errorclass="error" th:errors="*{title}"></li>
                            </ul>
                    </div>
                    <div class="form">
                        <label class="title" for="commentText" th:text="#{create.text}"></label>
                        <textarea type="text" th:field="*{commentText}" id="commentText"/>
                            <ul>
                                <li th:if="${#fields.hasErrors('commentText')}" th:errorclass="error" th:errors="*{commentText}"></li>
                            </ul>
                    </div>
                    <div>
                        <button class="submit" type="submit" th:text="#{create.submit}"></button>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>