<html xmlns:th="https://www.thymeleaf.org">
    <head th:replace="fragments/fragments :: head('Blog | Create post')"></head>
    <body>
        <header th:replace="fragments/fragments :: menu"></header>

        <div class="body-form">
            <form th:action="@{/private/posts/{userId}/createPost(userId=${id})}" th:object="${post}" method="post">
                <h1 class="title" th:text="#{blog.create}"></h1>
                <div class="form-inline">
                    <div class="form">
                        <label class="title" for="title" th:text="#{create.title}"></label>
                        <input type="text" th:field="*{title}" id="title">
                    </div>
                    <div class="form">
                        <label class="title" for="text" th:text="#{create.text}"></label>
                        <textarea type="text" th:field="*{postedText}" id="text"/>
                    </div>
                    <div>
                        <button class="submit" type="submit" th:text="#{create.submit}"></button>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>