<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="fragments/fragments :: head('Blog | ' + ${post.getTitle()})"></head>
    <body>
        <header th:replace="fragments/fragments :: menu"></header>

        <div class="container" th:object="${post}">
            <div class="post">
                <div class="actual-info">
                    <div class="picture">
                        <div class="img">
                            <img class="avatar" th:src="@{/images/profile.png}">
                        </div>
                        <div class="username">
                            <span class="user" th:text="${post.getUser().getUsername()}"></span>
                            <a sec:authorize="hasRole('ROLE_USER')" th:text="#{info}" th:href="@{/private/users/{id}(id=${post.getUser.getId()})}"></a>
                            <br><span th:text="${post.getFormatedDateTime()}"></span></br>
                        </div>
                    </div>

                    <div class="text">
                        <div>
                            <img class="font" th:src="@{https://picsum.photos/id/3{id}/200/200(id=${post.getUser.getId()})}">
                        </div>
                        <div>
                            <h1 th:text="*{title}"></h1>
                            <p class="listed-text" th:text="*{postedText}"></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="button">
                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/private/posts/{postId}/delete(postId=${post.getPostId()})}">
                    <div class="button" th:text="#{list.delete}"></div>
                </a>
                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/private/posts/{postId}/edit(postId=${post.getPostId()})}">
                    <div class="button" th:text="#{list.update}"></div>
                </a>
                <a sec:authorize="hasRole('ROLE_USER')" th:href="@{/private/posts/{postId}/comment(postId=${post.getPostId()})}">
                    <div class="button" th:text="#{list.comment}"></div>
                </a>
            </div>

            <div class="all-comments">
                <div class="middle-hide middle">
                    <p id="try1" th:text="#{list.comments}"></p>
                    <p id="try2" th:text="#{list.no_comments}"></p>
                </div>
                <div class="selectAllComments">
                    <div class="comment" th:each="comment: ${post.getComments()}">
                        <div class="picture">
                            <div class="username">
                                <p class="user"><a href="/user.html" th:text="${comment.getUser().getUsername()}"></a>
                                    <br><span th:text="${comment.getFormatedDateTime()}"></span></br>
                                </p>
                            </div>
                        </div>
                        <div class="text">
                            <h1 th:text="${comment.getTitle()}"></h1>
                            <p class="text" th:text="${comment.getCommentText()}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script th:src="@{/js/script.js}"></script>
    </body>
</html>