<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="fragments/fragments :: head('Blog | Posts')"></head>
    <body>
        <div th:replace="fragments/fragments :: menu"></div>

        <h1 th:text="#{blog.title}" class="title"></h1>

        <div class="container" th:each="post: ${posts}">
            <div class="post">
                <div class="actual-info">
                    <div class="picture">
                        <div class="img">
                            <img class="avatar" th:src="@{/images/profile.png}">
                        </div>
                        <div class="username">
                            <a th:text="${post.getAuthorName()}" th:href="@{/public/posts/{postId}(postId=${post.getPostId()})}"></a>
                                <br><span th:text="${post.getPostTime()}"></span></br>
                        </div>
                    </div>

                    <div class="text">
                        <img class="font" th:src="@{/images/1.png}">
                        <div>
                            <a th:href="@{/public/posts/{postId}(postId=${post.getPostId()})}">
                                <h1 th:text="${post.getTitle()}"></h1>
                            </a>
                            <p class="text" th:text="${post.getPostedText()}"></p>
                        </div>
                    </div>
                </div>
            </div>

            <a sec:authorize="hasRole('ROLE_USER')" th:href="@{/private/posts/{postId}/comment(postId=${post.getPostId()})}">
                <div class="button">
                    <div th:text="#{list.comment}"></div>
                </div>
            </a>
            <div class="all-comments">
                <div class="middle-hide middle">
                    <p id="try1" th:text="#{list.comments}"></p>
                    <p id="try2" th:text="#{list.no_comments}"></p>
                </div>
                <div class="selectAllComments">
                    <div class="comment" th:each="comment: ${post.getComments()}">
                        <div class="picture">
                            <div class="username">
                                <p class="user"><a href="/user.html">Comentator1@gmail.com</a>
                                    <br><span th:text="${comment.getCommentTime()}"></span></br>
                                </p>
                            </div>
                        </div>
                        <div class="text">
                            <h1>No title</h1>
                            <p th:text="${comment.getCommentText()}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="pageable">
                <a th:href="@{/posts(page=${currentPage - 1})}"> < </a>
                <span th:each="page: ${#numbers.sequence(0, totalPages - 1)}">
                            <a th:href="@{/posts(page=${page})}" th:text="${page + 1}"></a>
                        </span>
                <a th:href="@{/posts(page=${currentPage + 1})}"> > </a>
            </div>

    <script th:src="@{/js/script.js}"></script>

    </body>
</html>