<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>blog| Create post</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="body-form">
    <div th:replace="fragments/fragments :: menu"></div>

    <form th:action="@{/posts/create}" th:object="${post}" method="post">
        <h1 class="title">Create post:</h1>
        <div class="form-inline">
            <div class="form">
                <input type="text" th:field="*{authorName}" placeholder="Author name">
            </div>
                <div class="form">
                <input type="text" th:field="*{title}" placeholder="title">
            </div>
            <div class="form">
                <textarea type="text" th:field="*{postedText}" placeholder="text"/>
            </div>
            <div>
                <input class="submit" type="submit" title="Create">
            </div>
            <div class="form">
                <button class="submit">
                <a th:href="@{/posts}">Back to list</a>
                </button>
            </div>
        </div>
    </form>

    <script th:href="@{/js/script.js}"></script>
</body>
</html>