<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/fragments :: head('Blog | User info')"></head>
    <body>
        <header th:replace="fragments/fragments :: menu"></header>

        <div class="container" th:object="${user}">
            <div class="user">
                <fieldset>
                    <legend th:text="${user.getUsername()}"></legend>
                    <img class="avatar" th:src="@{/images/profile.png}">
                    <h3 th:text="#{user.info}"></h3>
                    <ul>
                        <li>
                            <span th:text="#{user.name}"></span>
                            <span th:text="${user.getName()}"></span>
                        </li>
                        <li>
                            <span th:text="#{user.surname}"></span>
                            <span th:text="${user.getLastName()}"></span>
                        </li>
                        <li>
                            <span th:text="#{user.mail}"></span>
                            <a th:href="@{mailto:{to}(to=${user.getEmail()})}" th:text="${user.getEmail()}"></a>
                        </li>
                        <li>
                            <span th:text="#{user.phone}"></span>
                            <a th:href="@{tel:{to}(to=${user.getPhoneNumber()})}" th:text="${user.getPhoneNumber()}"></a>
                        </li>
                        <li>
                            <span th:text="#{user.homeAddress}"></span>
                            <a th:href="@{https://www.google.com/maps/place/{id}(id=${user.getHomeAddress()})}" th:text="${user.getHomeAddress()}"></a>
                        </li>
                    </ul>
                </fieldset>
            </div>
        </div>
    </body>
</html>