<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/fragments :: head('Blog | User info')"></head>
    <body>
        <header th:replace="fragments/fragments :: menu"></header>

        <div class="container" th:object="${user}">
            <div class="user">
                <fieldset>
                    <legend th:text="${user.getUsername()}"></legend>
                    <img class="avatar" th:src="@{/images/profile.png}">
                    <h3 th:text="#{user.info}"></h3>
                    <ul>
                        <li>
                            <span th:text="#{user.name}"></span>
                            <span th:text="${user.getName()}"></span>
                        </li>
                        <li>
                            <span th:text="#{user.surname}"></span>
                            <span th:text="${user.getLastName()}"></span>
                        </li>
                        <li>
                            <span th:text="#{user.mail}"></span>
                            <a th:href="@{mailto:{to}(to=${user.getEmail()})}" th:text="${user.getEmail()}"></a>
                        </li>
                        <li>
                            <span th:text="#{user.phone}"></span>
                            <a th:href="@{tel:{to}(to=${user.getPhoneNumber()})}" th:text="${user.getPhoneNumber()}"></a>
                        </li>
<!--                        <li><span th:text="#{user.info}">Address:</span> <a href="https://www.google.com/maps/place/Gediminas+Castle+Tower/@54.6866549,25.2884191,17z/data=!3m1!4b1!4m5!3m4!1s0x46dd9419df4df72d:0x84cdab3f82f7f6fb!8m2!3d54.6866518!4d25.2906078" target="_blank">Arsenalo g. 5, Vilnius 01143</a></li>-->
                    </ul>
                </fieldset>
            </div>
        </div>
    </body>
</html>